In [72]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [73]:
tdsk = pd.read_excel(f'./../data/TSDK_ALL.xlsx')
tdsk

,Continent,Country name,ISO Alpha-2 code,ISO Alpha-3 code,Numeric country code,Variable,Type,Sub-type,Fuel,Destination,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa,Angola,AO,AGO,24,Population,All,..,..,..,...,25.107925,26.015786,26.941773,27.884380,28.842482,29.816769,30.809787,31.825299,32.866268,33.933611
1,Africa,Angola,AO,AGO,24,Population,Urban,..,..,..,...,61.268000,62.002000,62.731000,63.446000,64.149000,64.839000,65.514000,66.177000,66.825000,67.460000
2,Africa,Angola,AO,AGO,24,Population,Rural,..,..,..,...,38.732000,37.998000,37.269000,36.554000,35.851000,35.161000,34.486000,33.823000,33.175000,32.540000
3,Africa,Angola,AO,AGO,24,Population growth,All,..,..,..,...,3.597755,3.551997,3.497447,3.438869,3.378269,3.322158,3.276145,3.242914,3.218530,3.195916
4,Africa,Angola,AO,AGO,24,GDP,All,..,..,..,...,78545.742323,82433.756566,86407.063631,87219.290029,84969.032349,84841.578801,83724.798831,83138.725241,78566.095350,79116.058022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,Africa,Zimbabwe,ZW,ZWE,716,Energy intensity,Road,Minibus,Petrol,Urban,...,NaN,0.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2478,Africa,Zimbabwe,ZW,ZWE,716,Load factor,Road,Car,Electric,Urban,...,NaN,1.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2479,Africa,Zimbabwe,ZW,ZWE,716,Load factor,Road,Car,Hybrid,Urban,...,NaN,1.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2480,Africa,Zimbabwe,ZW,ZWE,716,Load factor,Road,Car,Petrol,Urban,...,NaN,1.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2481,Africa,Zimbabwe,ZW,ZWE,716,Load factor,Road,Minibus,Petrol,Urban,...,NaN,7.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# list of selected countries
countries = tdsk[tdsk['Continent'] == 'Africa']['Country name'].unique().tolist()

# plot_data container
plot_data = []

for country in countries:
    
    # find a value for a year if it exists, and save it as a tuple for a scatter plot.
    for year in [str(y) for y in range(1990, 2022)]:

        if not tdsk[(tdsk['Country name'] == country) & (tdsk['Data code'] == 'ROAD_EQS_TOTAL')][year].empty:
            total_road_vehicles = tdsk[(tdsk['Country name'] == country) & (tdsk['Data code'] == 'ROAD_EQS_TOTAL')][year].tolist()[0]
            population = tdsk[(tdsk['Country name'] == country) & (tdsk['Data code'] == 'POP_TOT')][year].tolist()[0] * 1e6
            source = tdsk[(tdsk['Country name'] == country) & (tdsk['Data code'] == 'ROAD_EQS_TOTAL')]['Citation'].tolist()[0].split(' ')[0]
        
            # store this data point as a tuple with data, year and source (the first word of the 'Citation' field in TDSK will do for now.
            data = total_road_vehicles/population, int(year), f'{country}, {source}'
    
            plot_data.append(data)

In [75]:
%matplotlib qt
fig, ax = plt.subplots()

for data in plot_data:
    ax.scatter(data[1], data[0])
    plt.annotate(data[2], (data[1], data[0]), textcoords="offset points", xytext=(0, 10), ha='center')
    
ax.set_ylabel('Road vehicles per capita')
ax.set_xlabel('Year')

plt.title('Road vehicles per capita in TDSK')

Text(0.5, 1.0, 'Road vehicles per capita in TDSK')