In [1]:
# Notebook for code development for vehicle stock module (vsm)

import pandas as pd

In [2]:
def get_base_year_stock(df, country, year):
    """Retrieves vehicle stock by mode for the base year (input data).

    Args:
        df: Country data. Could be TSDK, or more detailed country-specific data.
        country: String. E.g. "Zambia".
        year: Integer. E.g. 2015.

    Returns:
        Dict with year as key and nested dict of mode:vehicles as value.
    """

    # TODO: retrieve data from stock
    base_year_stock = {2018: {'BUS': 1,
                              'CAR': 1,
                              'MOTO': 1}}

    return base_year_stock()

In [3]:
def return_country_data(country, start_year=1990, end_year=2022):
    try:
        df = pd.read_csv(f"./../data/country_data/{country}/{country}.csv")
        country_data = df[['Country name', 'Variable', 'Type','Sub-type', 'Fuel', 'Destination', 'Data code', 'Unit'] + [str(y) for y in range(
            start_year, end_year)]]
        return country_data
    except Exception as e:
        return f"an error occurred: {e}"

In [4]:
df = return_country_data(country='zambia')
df

,Country name,Variable,Type,Sub-type,Fuel,Destination,Data code,Unit,1990,1991,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Zambia,Population,All,..,..,..,POP_TOT,million people,8.036849,8.246662,...,14.465148,14.926551,15.399793,15.87937,16.363449,16.853608,17.351714,17.861034,18.383956,18.920657
1,Zambia,Population,Urban,..,..,..,POP_URB,%,39.407000,38.989000,...,40.354000,40.865000,41.382000,41.90700,42.438000,42.976000,43.521000,44.072000,44.629000,45.192000
2,Zambia,Population,Rural,..,..,..,POP_RUR,%,60.593000,61.011000,...,59.646000,59.135000,58.618000,58.09300,57.562000,57.024000,56.479000,55.928000,55.371000,54.808000
3,Zambia,GDP,All,..,..,..,GDP_TOT,million USD (2015),6840.844039,6838.372211,...,18772.328030,19721.688160,20648.211570,21251.21680,22053.807070,22826.646590,23747.586260,24089.861650,23418.945740,24255.661410
4,Zambia,Passenger activity,Road,All,All,All,ROAD_PA_MOV,million passenger-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17857.358560,NaN,NaN,NaN
5,Zambia,Passenger activity,Rail,All,All,All,RAIL_PA_TOTAL,million passenger-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.005819,NaN,NaN,NaN
6,Zambia,Passenger activity,Aviation,All,All,All,AVIA_PAOC,million passenger-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,67.974233,2.409456,NaN,NaN,NaN
7,Zambia,Freight activity,Road,All,All,All,ROAD_GO_NAT,milion ton-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5234.542507,NaN,NaN,NaN
8,Zambia,Freight activity,Rail,All,All,All,RAIL_GO_TOTAL,milion ton-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1053.158810,NaN,NaN,NaN
9,Zambia,Freight activity,Aviation,All,All,All,AVIA_GONC,milion ton-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,81.557610,75.077398,NaN,NaN,NaN
10,Zambia,Freight activity,Inland waterways,All,All,All,IWW_GO_NAT,milion ton-km,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.315112,NaN,NaN,NaN
11,Zambia,Vehicle registrations,Road,Light Duty Vehicle,All,All,ROAD_STOCK_NEW_LDV,n,NaN,NaN,...,NaN,NaN,NaN,38960.00000,19787.000000,25542.000000,26827.000000,23640.000000,18893.000000,27797.000000
12,Zambia,Vehicle registrations,Road,Car,All,All,ROAD_STOCK_NEW_CAR,n,NaN,NaN,...,NaN,NaN,NaN,35192.00000,17852.000000,22913.000000,24044.000000,21256.000000,17203.000000,25713.000000
13,Zambia,Vehicle registrations,Road,Minibus,All,All,ROAD_STOCK_NEW_MINIBUS,n,NaN,NaN,...,NaN,NaN,NaN,3768.00000,1935.000000,2629.000000,2783.000000,2384.000000,1690.000000,2084.000000
14,Zambia,Vehicle registrations,Road,Van,All,All,ROAD_STOCK_NEW_VAN,n,NaN,NaN,...,NaN,NaN,NaN,5697.00000,4358.000000,4695.000000,4825.000000,3422.000000,2612.000000,3503.000000
15,Zambia,Vehicle registrations,Road,Truck,All,All,ROAD_STOCK_NEW_TRUCK,n,NaN,NaN,...,NaN,NaN,NaN,6040.00000,3854.000000,5597.000000,8189.000000,6999.000000,5615.000000,7283.000000
16,Zambia,Vehicle registrations,Road,Bus,All,All,ROAD_STOCK_NEW_BUS,n,NaN,NaN,...,NaN,NaN,NaN,650.00000,514.000000,727.000000,861.000000,836.000000,483.000000,664.000000
17,Zambia,Vehicle registrations,Road,Motorcycle,All,All,ROAD_STOCK_NEW_MOTO,n,NaN,NaN,...,NaN,NaN,NaN,2681.00000,2597.000000,1908.000000,2245.000000,2634.000000,2290.000000,3364.000000
18,Zambia,Vehicle registrations,Road,Agricultural and forestry tractors,All,All,ROAD_STOCK_NEW_AGRI,n,NaN,NaN,...,NaN,NaN,NaN,7.00000,4.000000,6.000000,1.000000,0.000000,0.000000,0.000000
19,Zambia,Vehicle registrations,Road,Trailer,All,All,ROAD_STOCK_NEW_TRAILER,n,NaN,NaN,...,NaN,NaN,NaN,2243.00000,1585.000000,1066.000000,2074.000000,2228.000000,1651.000000,2479.000000
20,Zambia,Vehicle registrations,Road,All,All,All,ROAD_STOCK_NEW_ALL,n,NaN,NaN,...,NaN,NaN,NaN,56278.00000,32699.000000,39541.000000,45022.000000,39759.000000,31544.000000,45090.000000
21,Zambia,Vehicle stock,Road,All,All,All,ROAD_STOCK_CUM_ALL,n,NaN,NaN,...,528584.000000,534523.000000,605043.000000,661617.00000,686103.000000,737671.000000,782136.000000,822882.000000,899186.000000,944276.000000
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# TODO: make a function that produces updated stock of cars, trucks, ..., per year.
# note: something does already exist in the TDSK.